.fileItem-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.25rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.375rem;
  background: rgba(217, 217, 217, 0.35);
  box-shadow: 0px 1px 1.7px 0px rgba(0, 0, 0, 0.25);
}
.fileItem-wrapper.preview {
  height: fit-content;
}

.fileItem-icon {
  width: 12px;
  height: 12px;
}

.fileItem-name {
  width: 100%;
  color: #000;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileItem-preview {
  height: 3.25rem;
  align-self: stretch;
  border-radius: 0.375rem;
  background: #b2b2b2;
}
.fileItem-preview.preview {
  display: none;
}
