.mailDetail-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}

.mailDetail-container {
  display: flex;
  height: 100%;
  padding: 1rem;
  margin-bottom: 100px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.82);
  overflow-y: scroll;
}

.mailDetail-header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}

.mailDetail-title {
  color: rgba(62, 61, 61, 0.9);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-break: break-word;
}

.mailDetail-sender {
  color: rgba(62, 61, 61, 0.5);
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mailDetail-files {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
}

.mailDetail-files-title {
  color: rgba(62, 61, 61, 0.7);
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mailDetail-files-list {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.mailDetail-content {
  padding-top: 0.5rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  color: #3e3d3d;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0625rem;
  word-break: break-word;
}

.mailDetail-sendAt,
.mailDetail-receiveAt {
  color: rgba(114, 114, 114, 0.6);
  text-align: right;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
