.mailDetail-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.mailDetail-container {
  display: flex;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 0.625rem 0.625rem 3.5625rem 0.625rem;
  background: rgba(255, 255, 255, 0.82);
  box-shadow: 0px 0px 10.3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.mailDetail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}

.mailDetail-header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mailDetail-title {
  color: rgba(62, 61, 61, 0.90);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-break: break-word;
}

.mailDetail-sender {
  color: rgba(62, 61, 61, 0.26);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.expandArrow-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.mailDetail-files {
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
}

.mailDetail-files-title {
  color: rgba(62, 61, 61, 0.60);
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mailDetail-files-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.mailDetail-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  color: #3E3D3D;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0625rem;
  padding-right: 0.5rem;
  word-break: break-word;
}

.mailDetail-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-shrink: 0;
}

.mailDetail-sendAt,
.mailDetail-receiveAt {
  color: rgba(114, 114, 114, 0.60);
  text-align: right;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}