/* 메일함 헤더 + 컨텐츠 스타일 */
@media (max-width: 425px) {
  .mailBoxLayout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-self: stretch;
  }

  /* 메일 컨텐츠 공통 스타일 */
  .mailBoxLayout-common {
    width: 100%;
  }
}
