.mailListItem-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  z-index: 1;
}

.mailListItem-wrapper:hover {
  background-color: rgba(229, 231, 233, 0.4);
}

/* 체크박스 컨테이너 */
.mailListItem-custom-checkBox {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.1s ease-in-out;
}

.mailListItem-custom-checkBox:hover {
  transform: scale(1.1);
}

/* 체크박스 숨기기 */
.mailListItem-custom-checkBox input {
  display: none;
}

/* 체크박스 스타일 */
.checkmark {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #b3b3b3;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* 체크박스 hover 시 테두리 변경 */
.mailListItem-custom-checkBox:hover .checkmark {
  border-color: #9590D5;
}

/* 체크박스 선택 시 스타일 */
.mailListItem-custom-checkBox input:checked+.checkmark {
  background-color: #9590D5;
  border-color: #9590D5;
  transform: scale(1.1);
}

/* 체크된 상태에서 체크 표시 */
.mailListItem-custom-checkBox input:checked+.checkmark::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.mailListItem-star-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.mailListItem-star {
  width: 16px;
  height: 16px;
  color: transparent;
  stroke: #a5a5a5;
  stroke-width: 1.4px;
}

.mailListItem-star.important {
  color: #FFD700;
  stroke: #ddbf76;
}

.mailListItem-mailInfo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 0.5rem;
}

.mailListItem-mailInfo-m {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mailListItem-sender {
  color: #2F3438;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 5rem;
}
.mailListItem-sender.self {
  display: none;
}

.mailListItem-title-container {
  display: flex;
  align-items: center;
  width: 10rem;
  gap: 0.25rem;
}

.mailListItem-title {
  color: #2F3438;

  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mailListItem-receiveAt {
  color: rgba(114, 114, 114, 0.60);

  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

/* 모바일 */
@media (max-width: 425px) {
  .mailListItem-mailInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .mailListItem-sender {
    width: 13rem;
  }
}