/* src/components/common/css/circle.css */

.circle {
  width: 18.10594rem;
  height: 18.10594rem;
  flex-shrink: 0;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.196);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  }
