.mail-container-wrapper {
    position: relative;
    bottom: 10%;
    left: 50%;
    transform: translate(-49%, 48%);
    width: 24.625rem;
    height: 36rem;
}

.container-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 92.8%;
    height: 92%;
    border: 13px solid #7FACEE;
    border-image: linear-gradient(120deg, #7FACEE 0%, #9590D5 100%);
    filter: blur(9.5px);
    border-image-slice: 1;
    z-index: 1;
}

.mail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98%;
    height: 96%;
    border-radius: 19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5.2px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}