.mailTitle {
    position: absolute;
    width: 10.1875rem;
    height: 1.8125rem;
    top: 12%;
    left: 8%;
    border:none;
    outline: none;
    font-family: 'SUIT';
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.mailTitle::placeholder{
    color: #3E3D3D;
}

.infoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 1.2rem;
    width: 84vw;
    height: 12vh;
}

.recieverContainer {
    display: flex;
    width: 100%;
    height: 28%;
}

.recieverTitleWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 0.6rem;
    z-index: 1;
}

.recieverLabel{
    display: flex;
    font-size: 0.76rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #3E3D3D;
    font-family: 'SUIT';
    margin-left: 4%;
}

.recieverTitle{
    position: absolute;
    display: inline-block;
    top: 40%;
    transform: translateY(-50%);
    align-items: center;
    justify-items: center;
    margin-left: 2%;
    white-space: nowrap;
    width: auto;
    height: 100%;
    font-size: 0.76rem;
    color: #3E3D3D;
    border:none;
    outline: none;
    background-color: rgba(205, 217, 245, 0.1);
}

.tagify.recieverTitle {
    border: none;
    outline: none;
    overflow-y: hidden;
    overflow-x: scroll;
  }

.tagify {
    width: auto;
    min-height: 1vh;
    display: inline-block; 
    border: none;
    outline: none;
    white-space: nowrap;
}
.tagify.tagify {
    --tags-disabled-bg: #748EEE;
    --tag-bg: (#748EEE, 80%);
    --tags-focus-border-color: #748EEE;
    --tags-hover-border-color: #748EEE;
    --tag-hover: #748EEE;
    --tag-border-radius: 16px;
    --tag-pad: 0.5em 0.5em;
    --tag-remove-btn-color: #FFFFFF;
}

.tagify.tagify--empty {
    border: none;
    outline: none;
}

.tagify.tagify--focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.tagify__tag {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    background-color: #748EEE;
    border: none;
    width: auto;
    height: 2.5vh;
    border-radius: 16px;
    z-index: 1;
}

.tagify__tag-text {
    color: #FFFFFF;
    font-family: 'SUIT';
    font-weight: bold;
    font-size: 0.6rem;
}

.tagify__tag__removeBtn {
    color: #ff0000;
}

.toMeText {
    position: absolute;
    right: 2%;
    align-items: center;
    color: #748EEE;
    font-size: 0.76rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2%;
}

.isToMe {
    position: absolute;
    right: 18%;
    align-items: center;
    border-color: #748EEE;
    outline: none;
    fill: #748EEE;
    opacity: 84%;
}

.attachedContainer{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    height: 60%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    border-radius: 0.9375rem;
    z-index: 1;
}

.attatchedIcon{
    display: flex;
    width: 1rem;
    height: auto;
    padding-left: 0.4rem;
}

.attachedLabel{
    display: flex;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
}

.aiContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    width: 80vw;
    height: 4vh;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.aiOnLogo {
    display: flex;
    width: 0.64rem;
    height: 0.69rem;
}

.aiText {
    display: flex;
    font-family: 'SUIT';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
}

.aiText.on {
    display: flex;
    font-weight: bold;
    background: linear-gradient(
      90deg, 
      #D692F8 0%, 
      #6C57F3 33%, 
      #5F6FFC 84%, 
      #D692F8 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 10s linear infinite;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% -100%;
    }
    100% {
      background-position: -50% 0%;
    }
  }

.aiToggleSwitch {
    display: flex;
}

.writeContainer {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
    font-family: 'SUIT';
    font-size: 0.6875rem;
}

.writeContainer.on {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
}

.buttonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    width: 72vw;
    height: 4.8vh;
    left: 50%;
    transform: translate(-43%);
    bottom: 11.2%;
}

.reservationButton {
    justify-content: center;
    align-items:center;
    display: flex;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1.6rem;
}

.sendButton {
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #748EEE;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1.6rem;
}

.compImg {
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 2;
}

.sendCompContainer {
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sendCheck{
    position: absolute;
    display: flex;
    top: 40%;
    left: 48%;
}

.sendCompText {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: 50%;
    left: 48%;
}

@media (max-width: 425px) {
    .mailTitle {
        width: 8.86rem;
        height: 1.51rem;
        font-size: 1.09rem;
    }
    .infoContainer {
        width: 84vw;
        height: 12vh;
    }
    .recieverLabel {
        width: 2.94rem;
        height: 0.87rem;
        font-size: 0.68rem;
    }
    .recieverTitle {
        transform: translateY(-68%);
        font-size: 0.65rem;
    }
    .tagify__tag {
        top: 50%;
        transform: translateY(-50%);
        height: 68%;
    }
    .tagify__tag-text {
        font-size: 0.5rem;
    }
    .toMeText {
        font-size: 0.68rem;
    }
    .attatchedIcon {
        width: 0.87rem;
    }
    .attachedLabel {
        font-size: 0.71rem;
    }
    .aiOnLogo {
        width: 0.56rem;
        height: 0.6rem;
    }
    .aiText {
        font-size: 0.76rem;
    }
    .writeContainer {
        font-size: 0.6rem;
    }
    .reservationButton {
        width: 6.74rem;
        height: 2.01rem;
        font-size: 0.78rem;
    }
    .sendButton {
        width: 6.74rem;
        height: 2.01rem;
        font-size: 0.78rem;
    }
}