.toggle-switch {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 18px;
    bottom: 0.5rem;
    left: 3.6rem;

  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6b6be;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .toggle-slider:before {
    position: absolute;
    display: flex;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-checkbox:checked + .toggle-slider {
    background-color: #34C759;
  }
  
  .toggle-checkbox:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .toggle-checkbox:checked + .toggle-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }