@font-face {
    font-family: 'SUIT';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.formContainer {
    position: relative;
    z-index: 1;
}

.symbolLogo {
    position: absolute;
    width: 1.406rem;
    height: 1.031rem;
    flex-shrink: 0;
    top: 11.25%;
    left: 24%;
}

.namePlaceHolder {
    position: absolute;
    top: 28%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nameInput {
    position: absolute;
    top: 27.6%;
    left: 32%;
    width: 44%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputLine1 {
    position: absolute;
    top: 32%;
    width: 11.09275rem;
    flex-shrink: 0;
}

.schoolPlaceHolder {
    position: absolute;
    top: 33.6%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.affiliationInput {
    position: absolute;
    top: 33.4%;
    left: 32%;
    width: 44%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.departmentPlaceHolder {
    position: absolute;
    top: 41.2%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputLine2 {
    position: absolute;
    top: 44.8%;
    width: 11.09275rem;
    flex-shrink: 0;
}

.departmentInput {
    position: absolute;
    top: 40.8%;
    width: 44%;
    left: 32%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: -1;
}

.studentNumPlaceHolder {
    position: absolute;
    top: 46.4%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.studentNumInput {
    position: absolute;
    top: 46%;
    left: 32%;
    width: 44%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: -1;
}

.gradePlaceHolder {
    position: absolute;
    top: 54.8%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gradeInput {
    position: absolute;
    top: 54.6%;
    left: 32%;
    width: 44%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputLine3 {
    position: absolute;
    top: 58.4%;
    width: 11.09275rem;
    flex-shrink: 0;
}

.phoneNumPlaceHolder {
    position: absolute;
    top: 60.2%;
    left: 24%;
    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.phoneNumInput {
    position: absolute;
    top: 60%;
    left: 32%;
    width: 44%;
    height: auto;
    border: none;
    outline: none;

    color: #3E3D3D;
    font-family: 'SUIT';
    font-size: 0.46244rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.studentNumError {
    position: absolute;
    top: 49%;
    right: 20%;
    color: #ED8081;
    font-family: 'SUIT';
    font-size: 0.32rem;
    font-weight: bold;
}

.addInfoCompleteButton {
    position: absolute;
    justify-content: center;
    top: 75%;
    background-color: #B5C9F1;
    border: none;
    border-radius: 0.28481rem;
    cursor: pointer;
    width: 11.10656rem;
    height: 1.21031rem;
    flex-shrink: 0;

    color: #FFF;
    font-family: Inter;
    font-size: 0.46275rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}