.menuItem-wrapper {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba(229, 231, 233, 0.4);
  }
}
.menuItem-wrapper.menuItem-close {
  justify-content: center;
  gap: 0;
  border-radius: 0px;

  &:hover {
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(3px);
  }
}
.menuItem-wrapper:hover .menuItem-leftBar {
  opacity: 1;
}
.menuItem-wrapper:hover .menuItem-shadowBox.menuItem-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;        
  left: 100%; 
  height: 100%;
}

.menuItem-leftBar.menuItem-close {
  position: absolute;
  left: 0;
  width: 4px;
  height: calc(100%);
  background: #a87cf6;
  transition: transform 0.3s ease;
  opacity: 0;
}

.menuItem-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.menuItem-container.menuItem-close {
  justify-content: center;
  gap: 0;
  border-radius: 0px;
}
.menuItem-container.active {
  background-color: #EFEFFF;
}
.menuItem-container.menuItem-close.active .menuItem-icon {
  color: #9590D5;
}

.menuItem-icon {
  color: #2F3438;
}
.menuItem-icon.menuItem-close {
  width: 1.7rem;
  height: 1.7rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.menuItem-text {
  color: #2f3438;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.menuItem-text.menuItem-close {
  display: none;
}

.menuItem-shadowBox {
  display: none;
  width:fit-content;
  height: 2.6875rem;
  padding: 0 1rem;
  border-radius: 0rem 1.8125rem 1.8125rem 0rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 425px) {
  .menuItem-wrapper {
    display: block;
  }
}
