.subMenuItem-wrapper {
  display: flex;
  align-items: center;
  padding: 0.38rem 2.5rem;
  gap: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba(229, 231, 233, 0.4);
  }
}
.subMenuItem-wrapper.active {
  background-color: #EFEFFF;
}
.subMenuItem-wrapper.subMenuItem-close.active {
  background-color: #EFEFFF; 
}
.subMenuItem-wrapper.subMenuItem-close {
  width: 100%;
  display: flex;
  padding: 0.25rem 0.5rem;
  align-self: stretch;
  border-radius: 0px;
}

.subMenuItem-text {
  color: #2f3438;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.subMenuItem-text.subMenuItem-close {
  font-size: 0.625rem;
}
