@font-face {
  font-family: "SUIT";
  src: url("/font/SUIT-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "SUIT", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
